[submodule "suckless/dwm"]
	path = suckless/dwm
	url = git@friedelschoen.io:suckless/dwm
[submodule "suckless/st"]
	path = suckless/st
	url = git@friedelschoen.io:suckless/st
[submodule "suckless/slstatus"]
	path = suckless/slstatus
	url = git@friedelschoen.io:suckless/slstatus
[submodule "suckless/dmenu"]
	path = suckless/dmenu
	url = git@friedelschoen.io:suckless/dmenu
